@charset "UTF-8";
.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}

.modal-backdrop.fade {
  opacity: 0.5 !important;
}

/*
*   CSS file with Bootstrap grid classes for screens bigger than 1600px. Just add this file after the Bootstrap CSS file and you will be able to juse col-xl, col-xl-push, hidden-xl, etc.
*
*   Author: Marc van Nieuwenhuijzen
*   Company: WebVakman
*   Site: WebVakman.nl
*
*/

.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl {
  display: none !important;
}

.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.dz-icon {
  color: rgba(255, 255, 255, .4);
  font-size: 30px;
}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  width: 54px;
  text-align: center;
}

.dropzone .dz-preview.dz-image-preview {
  background-color: transparent;
}

.dropzone .dz-preview .dz-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dropzone .dz-preview {
  display: none;
}

.dropzone.dz-started .dz-message {
  display: block;
}

.edit-photo-card {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.edit-photo-card:hover {
  z-index: 2;
}

.edit-photo-card__preview {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: #dbe1e8;
}

.edit-photo-card:hover .edit-photo-card__preview {
  border-color: #1bbae1;
  border-bottom-color: transparent;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.edit-photo-card--deleted .edit-photo-card__image {
  opacity: .2;
}

.edit-photo-card__image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.edit-photo-card__image::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.edit-photo-card__controls {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 5px;
  border-width: 0 1px 1px 1px;
  border-color: #1bbae1;
  border-style: solid;
  border-radius: 0 0 5px 5px;
  opacity: 0;
  background-color: #fff;
  z-index: -1;
}

.edit-photo-card:hover .edit-photo-card__controls {
  opacity: 1;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.edit-photo-card__deleted-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: #d9534f;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  z-index: -1;
}

.edit-photo-card--deleted .edit-photo-card__deleted-icon {
  opacity: 1;
  z-index: 1;
}

.edit-photo-card--has-error .edit-photo-card__preview {
  border-color: #e74c3c;
}

.edit-photo-card--has-error:hover .edit-photo-card__preview {
  border-color: #e74c3c;
  border-bottom-color: transparent;
}

.edit-photo-card--has-error .edit-photo-card__controls {
  border-color: #e74c3c;
}

.ui-sortable-helper .edit-photo-card__preview {
  border-bottom-color: #1bbae1 !important;
}

.ui-sortable-helper .edit-photo-card__controls {
  display: none;
}

.ui-sortable-helper .edit-photo-card--has-error .edit-photo-card__preview {
  border-bottom-color: #e74c3c !important;
}

.loading-wrap {
  position: relative;
  min-height: 200px;
}

.loading-wrap__spinner {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 52px;
  height: 52px;
  margin: auto;
  z-index: 11;
}

.loading-wrap:not(.loaded)::before {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, .5);
  z-index: 10;
}

.noty_layout_mixin, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
          animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, .05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
          animation: noty_modal_in .3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
          animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: .3;
  }
}

@keyframes noty_modal_in {
  100% {
    opacity: .3;
  }
}

@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0;
  }
}

@keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

.noty_layout_mixin, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
          animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, .05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
          animation: noty_modal_in .3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
          animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes noty_modal_in {
  100% {
    opacity: .3;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0;
  }
}

@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

.noty_theme__bootstrap-v4.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.noty_theme__bootstrap-v4.noty_bar .noty_body {
  padding: 12px 20px;
  padding: .75rem 1.25rem;
}

.noty_theme__bootstrap-v4.noty_bar .noty_buttons {
  padding: 10px;
}

.noty_theme__bootstrap-v4.noty_bar .noty_close_button {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
  background: transparent;
}

.noty_theme__bootstrap-v4.noty_bar .noty_close_button:hover {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .75;
}

.noty_theme__bootstrap-v4.noty_type__alert,
.noty_theme__bootstrap-v4.noty_type__notification {
  background-color: #fff;
  color: inherit;
}

.noty_theme__bootstrap-v4.noty_type__warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
  border-color: #faebcc;
}

.noty_theme__bootstrap-v4.noty_type__error {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}

.noty_theme__bootstrap-v4.noty_type__info,
.noty_theme__bootstrap-v4.noty_type__information {
  background-color: #d9edf7;
  color: #31708f;
  border-color: #bce8f1;
}

.noty_theme__bootstrap-v4.noty_type__success {
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;
}

.select2-container--bootstrap .select2-results__option[aria-disabled=true] {
  background-color: #EEEEEE;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}

.table-middle td {
  vertical-align: middle !important;
}

.table thead > tr > th {
  font-size: 16px;
}

.table-cell {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.table-cell.text-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-cell-empty {
  width: 100% !important;
}

.table-head .table-cell {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

caption + .table-head > .table-row:first-child > .table-cell,
colgroup + .table-head > .table-row:first-child > .table-cell,
.table-head:first-child > .table-row:first-child > .table-cell {
  border-top: 0;
}

.table-condensed .table-cell {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #ddd;
  border-bottom: 0;
}

.table-bordered .table-cell {
  border: 1px solid #ddd;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 1px 1px 0;
}

.table-bordered .table-cell:last-child {
  border-right-width: 0;
}

.table-bordered .table-head .table-row:last-child .table-cell {
  border-bottom-width: 2px;
}

.table-row + .table-group .table-row:last-child .table-cell {
  border-bottom-width: 1px;
}

.table-hover .table-group .table-row:hover .table-cell {
  background-color: #f5f5f5;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

.table-head .table-cell {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: 600;
}

.table-head,
.table-group {
  display: block;
}

.table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-level-1 .lev {
  padding-left: 25px !important;
}

.table-level-1 .table-cell {
  background-color: #fafafa;
}

.table-level-2 .lev {
  padding-left: 45px !important;
}

.table-level-2 .table-cell {
  background-color: #f0f0f0;
}

.table-level-3 .lev {
  padding-left: 65px !important;
}

.table-level-3 .table-cell {
  background-color: #fff5f5;
}

.table-level-4 .lev {
  padding-left: 85px !important;
}

.table-level-4 .table-cell {
  background-color: #fffafa;
}

.table-level-5 .lev {
  padding-left: 105px !important;
}

.table-level-5 .table-cell {
  background-color: #ffffff;
}

.table-categories {
  min-width: 1024px;
}

.table-categories .table-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.table-categories .table-cell {
  width: 15%;
}

.table-categories .table-cell:nth-child(1) {
  width: 35px;
}

.table-categories .table-cell:nth-child(2) {
  width: 7%;
}

.table-categories .table-cell:nth-child(3) {
  width: calc(48% - 35px);
}

.table-sort-handler {
  background-color: #1bbae1 !important;
  position: relative;
  cursor: pointer;
}

.table-sort-handler span::before {
  content: '\2261';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  width: 24px;
  font-size: 20px;
  text-indent: 0;
  font-weight: normal;
}

.table-control {
  width: 75px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.table-remove-restore__deleted td {
  position: relative;
}

.table-remove-restore__deleted td::before {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, .5);
  z-index: 20;
  cursor: not-allowed;
}

.table-remove-restore__restore {
  position: relative;
  z-index: 21;
}

.ui-sortable-placeholder > * {
  position: relative;
}

.ui-sortable-placeholder > *::before {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border: 1px solid #1bbae1;
  z-index: 1;
}

div.ui-sortable-placeholder {
  position: relative;
}

div.ui-sortable-placeholder::before {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border: 1px solid #1bbae1;
  z-index: 1;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
}

#page-content {
  min-height: calc(100vh - 50px);
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.modal-dialog-centered .modal-content {
  width: 100%;
}

.modal.fade .modal-dialog.modal-dialog-centered {
  -webkit-transform: none;
          transform: none;
}

.switch span {
  vertical-align: bottom;
}

.block-title-control {
  float: right;
  padding: 3px 15px;
}

.fade.d-block {
  display: block !important;
}

.fade.show {
  opacity: 1;
}

/**
  Кнопка раскрытия списка потомков в категории.
 */
.btn-expand {
  padding: 6px 7px 5px 8px;
  margin-right: 5px;
}

/**
  Ckeditor - рамки состояний
 */
.has-error .cke {
  border-color: #e74c3c;
  background-color: #ffffff;
}

.has-error .cke:focus {
  border-color: #c0392b;
}

.has-warning .cke {
  border-color: #fdb341;
  background-color: #ffffff;
}

.has-warning .cke:focus {
  border-color: #b3621b;
}

.has-success .cke {
  border-color: #27ae60;
  background-color: #ffffff;
}

.has-success .cke:focus {
  border-color: #166638;
}

/**
  Аналог display:none, без display:none
 */
.in-space {
  position: absolute;
  left: -100000px;
  top: -100000px;
  opacity: 0;
  visibility: hidden;
}

/**
  Языки, иконки языков.
 */
.language-identif {
  display: inline-block;
  vertical-align: bottom;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.language-identif__flag {
  display: inline-block;
  vertical-align: bottom;
  width: 30px;
  height: 18px;
  background-size: cover;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border: 1px solid #dbe1e8;
}

.language-identif__code {
  vertical-align: bottom;
}

.language-picker {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.language-picker__btn {
  text-align: center;
}

.language-picker__btn .language-identif__code {
  margin-right: 7px;
}

.language-picker.has-error .language-picker__btn {
  border-color: #e74c3c;
}

.language-picker.open .language-picker .language-identif__flag,
.language-picker__btn:hover .language-picker .language-identif__flag {
  border-color: #c2c8cf;
}

.language-picker:not(.open) .language-picker__btn:active .language-picker .language-identif__flag {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/**
  Таблица цен.
 */
.prices-table {
  table-layout: fixed;
}

.prices-table th:first-child,
.prices-table td:first-child {
  width: 210px;
}

.prices-table__type {
  font-size: 14px;
}

.input-group-addon-gray {
  background-color: #eaedf1;
}

.dataTables_paginate {
  float: left;
}

.dataTables_info,
.dataTables_length {
  float: right;
}

.dataTables_info {
  padding-top: 9px;
  margin-right: 10px;
}

div.dataTables_length select[size] {
  height: 34px;
}

.product-preview-image {
  width: 60px;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  background-color: #fff;
}

.product-preview-image img {
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.btn-group > .btn {
  margin: 0;
}

.btn-separator-xs {
  border-left: 1px solid #dbe1e8;
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle;
}

.btn-separator-xs {
  height: 18px;
}

.block-illuminated {
  border-color: #c2c8cf;
}

.form-bordered .form-group:last-child {
  border-bottom: none;
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-1 {
    width: 8.33333333%;
  }
  .col-xl-pull-12 {
    right: 100%;
  }
  .col-xl-pull-11 {
    right: 91.66666667%;
  }
  .col-xl-pull-10 {
    right: 83.33333333%;
  }
  .col-xl-pull-9 {
    right: 75%;
  }
  .col-xl-pull-8 {
    right: 66.66666667%;
  }
  .col-xl-pull-7 {
    right: 58.33333333%;
  }
  .col-xl-pull-6 {
    right: 50%;
  }
  .col-xl-pull-5 {
    right: 41.66666667%;
  }
  .col-xl-pull-4 {
    right: 33.33333333%;
  }
  .col-xl-pull-3 {
    right: 25%;
  }
  .col-xl-pull-2 {
    right: 16.66666667%;
  }
  .col-xl-pull-1 {
    right: 8.33333333%;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-push-12 {
    left: 100%;
  }
  .col-xl-push-11 {
    left: 91.66666667%;
  }
  .col-xl-push-10 {
    left: 83.33333333%;
  }
  .col-xl-push-9 {
    left: 75%;
  }
  .col-xl-push-8 {
    left: 66.66666667%;
  }
  .col-xl-push-7 {
    left: 58.33333333%;
  }
  .col-xl-push-6 {
    left: 50%;
  }
  .col-xl-push-5 {
    left: 41.66666667%;
  }
  .col-xl-push-4 {
    left: 33.33333333%;
  }
  .col-xl-push-3 {
    left: 25%;
  }
  .col-xl-push-2 {
    left: 16.66666667%;
  }
  .col-xl-push-1 {
    left: 8.33333333%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xl-offset-0 {
    margin-left: 0;
  }
  .visible-xl {
    display: block !important;
  }
  table.visible-xl {
    display: table;
  }
  tr.visible-xl {
    display: table-row !important;
  }
  th.visible-xl, td.visible-xl {
    display: table-cell !important;
  }
  .visible-xl-block {
    display: block !important;
  }
  .visible-xl-inline {
    display: inline !important;
  }
  .visible-xl-inline-block {
    display: inline-block !important;
  }
  .hidden-xl {
    display: none !important;
  }
}

/*# sourceMappingURL=app.css.map*/