.shop-badge {
  display: inline-flex;
  border-radius: 16px;
  padding: 8px;
  overflow: hidden;
  min-width: 32px;
  min-height: 32px;
  color: #fff;

  &__content {
    display: flex;
    align-items: center;
    height: 16px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    vertical-align: bottom;
  }

  &__text {
    font-size: 12px / 14px;
    font-weight: 300;

    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}