.banner-preview {
  width: 856px;
  margin-bottom: 20px;

  &__standart {
    width: 253px;
  }

  &__big {
    width: 583px;
    margin-left: 20px;
  }

  &__row {
    display: flex;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.banner {
  width: 100%;
  padding: 45px 24px 24px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
  height: 490px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat';

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
  }

  &__accent-box {
    position: relative;
    width: 100%;
    max-width: 298px;
    max-height: 250px;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
      transition: .3s;
      position: relative;
    }
  }

  &__image,
  &__title {
    position: absolute;
    top: 24px;
    left: 24px;
    bottom: 24px;
    right: 24px;
    margin: auto;
  }

  &__image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
  }

  &__title {
    font-size: 24px / 1.25em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--medium &__title {
    &--1,
    &--2,
    &--3,
    &--4 {
      font-size: 80px;
    }

    &--5 {
      font-size: 60px;
    }

    &--6 {
      font-size: 42px;
    }

    &--7 {
      font-size: 36px;
    }

    &--8 {
      font-size: 30px;
    }
  }

  &--big &__title {
    font-size: 36px;

    &--1,
    &--2,
    &--3,
    &--4,
    &--5 {
      font-size: 80px;
    }

    &--6 {
      font-size: 60px;
    }

    &--7 {
      font-size: 52px;
    }

    &--8 {
      font-size: 42px;
    }
  }

  &--long &__title {
    &--1,
    &--2,
    &--3,
    &--4 {
      font-size: 60px;
    }

    &--5 {
      font-size: 52px;
    }

    &--6 {
      font-size: 42px;
    }

    &--7 {
      font-size: 32px;
    }
  }

  &__caption {
    font-size: 16px / 24px;
    height: 48px;
    overflow: hidden;
    color: #fff;
    text-align: center;
  }

  &__button {
    text-align: center;
    max-width: 216px;
    width: 100%;
    margin: 24px auto 0;
  }

  @media (min-width: 576px) {
    &--long {
      padding: 24px;
      min-height: auto;
      height: auto;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
    }
    //
    &--long &__title {
      position: absolute 16px;
    }

    &--long &__accent-box {
      width: 190px;
      max-height: none;
      margin: 0;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -95px;
    }

    &--long &__bottom {
      width: calc(100% - 190px);
      height: 100%;
      flex-direction: column;
    }

    &--long &__image {
      background-size: contain;
    }

    &--long &__caption {
      height: auto;
      max-height: 48px;
      overflow: hidden;
    }
  }

  @media (min-width: 768px) {
    &--long &__bottom {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center
    }

    &--long &__button {
      margin-top: 0;
    }

    &--long &__caption {
      width: calc(100% - 216px);
      margin-bottom: 0;
      text-align: left;
      padding-right: 32px;
    }
  }
}





.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: .3s;
  padding: 11px 32px;
  text-decoration: none !important;
  font-size: 14px / 24px;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14);
    background: #fff;
    color: #323f4c;

    &:hover {
      color: #323f4c;
      box-shadow: 0 1px 20px rgba(0, 0, 0, 0.14);
    }
  }

  &-long {
    width: 100%;
  }

  &-small {
    padding: 6px 24px;
    font-size: 12px / 16px;
  }
}



.header-banner-wrap {
  width: 100%;
}

.header-banner-wrap--mobile {
  max-width: 375px;
}

.header-banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none !important;

  &__title {
    font-size: 20px;
    text-transform: uppercase;
  }

  &__button {
    margin-left: 24px;
  }

  &--mobile {
    padding: 0 16px;
    justify-content: space-between;
  }

  &--mobile &__title {
    color: #fff;
    font-size: 14px / 17px;
  }
}
