.dz-icon {
  color: rgba(255, 255, 255, 0.4);
  font-size: 30px;
}
.dropzone .dz-preview {
  position: relative;
}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  width: 54px;
  text-align: center;
}
.dropzone .dz-preview.dz-image-preview {
  background-color: transparent;
}

.dropzone .dz-preview .dz-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dz-remove {
  position: absolute;
  bottom: 100%;
  width: calc(100% + 40px);
  text-align: center;
  margin: 0 -20px 5px;
}

.dropzone .dz-preview {
  //display: none;
}

.dropzone.dz-started .dz-message {
  //display: none;
}

.dropzone .dz-message {
  font-size: 18px;
}