.edit-photo-card {
  position: relative;
  z-index: 1;
  background-color: #fff;

  &:hover {
    z-index: 2;
  }

  &__preview {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: #dbe1e8;
  }

  &:hover &__preview {
    border-color: var(--primary-color);
    border-bottom-color: transparent;
    transition: border-color .3s;
  }

  &--deleted &__image{
    opacity: .2;
  }

  &__image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  &__controls {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 5px;
    border-width: 0 1px 1px 1px;
    border-color: #1bbae1;
    border-style: solid;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    background-color: #fff;
    z-index: -1;
  }

  &:hover &__controls {
    opacity: 1;
    z-index: 1;
    transition: .3s;
  }

  &__deleted-icon {
    position: absolute 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--danger-color);
    transition: .3s;
    opacity: 0;
    z-index: -1;
  }

  &--deleted &__deleted-icon {
    opacity: 1;
    z-index: 1;
  }


  &--has-error &__preview {
    border-color: var(--error-color);
  }

  &--has-error:hover &__preview {
    border-color: var(--error-color);
    border-bottom-color: transparent;
  }

  &--has-error &__controls {
    border-color: var(--error-color);
  }
}

.ui-sortable-helper .edit-photo-card {
  &__preview {
    border-bottom-color: var(--primary-color) !important;
  }

  &__controls {
    display: none;
  }
}

.ui-sortable-helper .edit-photo-card--has-error .edit-photo-card__preview {
  border-bottom-color: var(--error-color) !important;
}