// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import 'noty';
@import 'loading';
@import 'animations';
@import 'select2';
@import 'table';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


#page-content {
  min-height: calc(100vh - 50px);
}

.modal-dialog-centered {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;

  & .modal-content {
    width: 100%;
  }
}

.switch span {
  vertical-align: bottom;
}

.block-title-control {
  float: right;
  padding: 3px 15px;
}

.fade.d-block {
  display: block !important;
}

.fade.show {
  opacity: 1;
}

.btn-expand {
  padding: 6px 7px 5px 8px;
  margin-right: 5px;
}


.has-error .cke {
  border-color: #e74c3c;
  background-color: #ffffff;
}

.has-error .cke:focus {
  border-color: #c0392b;
}

.has-warning .cke {
  border-color: #e67e22;
  background-color: #ffffff;
}

.has-warning .cke:focus {
  border-color: #b3621b;
}

.has-success .cke {
  border-color: #27ae60;
  background-color: #ffffff;
}

.has-success .cke:focus {
  border-color: #166638;
}


.in-space {
  position: absolute;
  left: -100000px;
  top: -100000px;
  opacity: 0;
}

.language-picker {
  border-radius: 50%;
  border: 1px solid transparent;

  &.has-error {
    border-color: #e74c3c;
  }
}

.prices-table {
  table-layout: fixed;

  & th:first-child,
  & td:first-child {
    width: 210px;
  }
}

.prices-table__type {
  font-size: 14px;
}

.prices-table__formatted {
  background-color: #eaedf1;
}


.dz-icon {
  color: rgba(255, 255, 255, 0.4);
  font-size: 30px;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  width: 54px;
  text-align: center;
}
.dropzone .dz-preview.dz-image-preview {
  background-color: transparent;
}

.dropzone .dz-preview .dz-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dataTables_paginate {
  float: left;
}

.dataTables_info,
.dataTables_length {
  float: right;
}

.dataTables_info {
  padding-top: 9px;
  margin-right: 10px;
}