// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import 'noty';
@import 'loading';
@import 'animations';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


#page-content {
  min-height: calc(100vh - 50px);
}

.modal-dialog-centered {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;

  & .modal-content {
    width: 100%;
  }
}

.switch span {
  vertical-align: bottom;
}