// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import 'animations';
@import 'bootstrap-xl';
@import 'dropzone';
@import 'edit-photo-card';
@import 'loading';
@import 'noty';
@import 'select2';
@import 'table';


:root {
  --primary-color: #1bbae1;
  --danger-color: #d9534f;
  --error-color: #e74c3c;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


#page-content {
  min-height: calc(100vh - 50px);
}

.modal-dialog-centered {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;

  & .modal-content {
    width: 100%;
  }
}

.modal.fade .modal-dialog.modal-dialog-centered {
  transform: none;
}

.switch span {
  vertical-align: bottom;
}

.block-title-control {
  float: right;
  padding: 3px 15px;
}

.fade.d-block {
  display: block !important;
}

.fade.show {
  opacity: 1;
}


/**
  Кнопка раскрытия списка потомков в категории.
 */

.btn-expand {
  padding: 6px 7px 5px 8px;
  margin-right: 5px;
}


/**
  Ckeditor - рамки состояний
 */

.has-error .cke {
  border-color: #e74c3c;
  background-color: #ffffff;
}

.has-error .cke:focus {
  border-color: #c0392b;
}

.has-warning .cke {
  border-color: #fdb341;
  background-color: #ffffff;
}

.has-warning .cke:focus {
  border-color: #b3621b;
}

.has-success .cke {
  border-color: #27ae60;
  background-color: #ffffff;
}

.has-success .cke:focus {
  border-color: #166638;
}


/**
  Аналог display:none, без display:none
 */

.in-space {
  position: absolute;
  left: -100000px;
  top: -100000px;
  opacity: 0;
  visibility: hidden;
}


/**
  Языки, иконки языков.
 */

.language-identif {
  display: inline-block;
  vertical-align: bottom;
  user-select: none;

  &__flag {
    display: inline-block;
    vertical-align: bottom;
    width: 30px;
    height: 18px;

    background-size: cover;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border: 1px solid #dbe1e8;
  }

  &__code {
    vertical-align: bottom;
  }
}

.language-picker {
  position: relative;
  user-select: none;

  &__btn {
    text-align: center;
  }

  &__btn .language-identif__code {
    margin-right: 7px;
  }

  &.has-error &__btn {
    border-color: #e74c3c;
  }

  &.open & .language-identif__flag,
  &__btn:hover & .language-identif__flag {
    border-color: #c2c8cf;
  }

  &:not(.open) &__btn:active  & .language-identif__flag {
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  }
}


/**
  Таблица цен.
 */

.prices-table {
  table-layout: fixed;

  & th:first-child,
  & td:first-child {
    width: 210px;
  }
}

.prices-table__type {
  font-size: 14px;
}


.input-group-addon-gray {
  background-color: #eaedf1;
}


.dataTables_paginate {
  float: left;
}

.dataTables_info,
.dataTables_length {
  float: right;
}

.dataTables_info {
  padding-top: 9px;
  margin-right: 10px;
}

div.dataTables_length select[size] {
  height: 34px;
}

.product-preview-image {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: #fff;

  & img {
    max-width: 100%;
  }
}

.pointer {
  cursor: pointer;
}


.btn-group > .btn {
  margin: 0;
}




.block-illuminated {
  border-color: #c2c8cf;
}

.form-bordered .form-group:last-child {
  border-bottom: none;
}

.btn-separator-xs {
  border-left: 1px solid #dbe1e8;
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle;
  height: 18px;

  &:first-child,
  &:last-child,
  & + & {
    display: none;
  }
}

textarea.form-control {
  min-height: 200px;
  resize: vertical;
}


.pagination > li {
  display: inline-block;
  vertical-align: bottom;

  & > a,
  & > span {
    width: 30px;
    padding: 6px 0;
    text-align: center;
  }
}



.select2-selection__clear {
  height: 22px;
}


.dataTable thead th {
  white-space: nowrap;
}